/* Write your code here. */
.faq-list {
  width: 95%;
  border-radius: 16px;
  margin: 15px;
  border-color: #d7dae6;
  border: 1px solid;
}

@media screen and (max-width: 768px) {
  .faq-list {
    width: 95%;
  }
}

.question-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: 100%;
}

.icon-button {
  outline: none;
  background-color: transparent;
  border: none;
  margin-right: 25px;
  cursor: pointer;
}

.answer-text {
  margin-left: 15px;
  font-size: 16px;
  color: #9aa5b1;
}

.question-text {
  font-size: 22px;
  color: #52606d;
}

.text {
  font-family: roboto;
}
