/* Write your code here. */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f5f8;
}

.faq-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 25px;
  box-shadow: 0px 4px 16px 0px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .faq-card-container {
    width: 87%;

    padding: 15px;
  }
}

.heading {
  font-family: roboto;
  font-size: 45px;
  color: #cb8805;
}
@media screen and (max-width: 768px) {
  .faq-container {
    width: 100%;
  }
}

.faq-container {
  list-style-type: none;
  padding: 0;
}
